<%- include('../partials/head') %> 
<link rel="stylesheet" href="/styles/indexStyles.css">

<body>
    <%- include('../partials/navBar') %> 
   
    <h1>Shop Our One of a Kind Shirts</h1>

    <a href="/shirt/new">add shirt</a>

    <div class="con">
        <% for(let shirt of shirts) { %> 
            <div class="listCon">
                <p><%= shirt.img %></p>
                <p><a href="/shirt/<%= shirt._id %>">"<%= shirt.name.toUpperCase() %>"</a></p>
                <p>Price: $<%= shirt.price %>.00</p>
                <p><em>Buy Now</em></p>
                <!-- <p>Size: <%= shirt.size %></p> -->
            </div>
        <% } %> 
    </div>
</body>
</html>