<%- include('../partials/head') %> 
<body>
    <%- include('../partials/navBar') %> 
    <h1>show</h1>

    <a href="/shirt">back</a>

    <p><%= shirts.img %></p>
    <p>"<%= shirts.name.toUpperCase() %>"</p>
    <p>Price: $<%= shirts.price %>.00</p>
    <p>Size: <%= shirts.size %></p>
    <label for="size">size</label>
    <select name="size" id="size">
        <option value="small">S</option>
        <option value="medium">M</option>
        <option value="large">L</option>
    </select>

    <form action="/shirt/<%= shirts._id %>?_method=DELETE" method="POST">
        <button>delete</button>
    </form>

</body>
</html>